// Login Page
$loginBackground: #262626;
$loginFooter: #18191b;
$loginButton: #0095f6;
$loginFontColor: #fffafd;

// Home Page
$homeBackground: #18191b;
$homeItemBackground: #242526;
$homeBorderIcons: #d9d9d9;
$homeFontColor: #fdfdfd;







